<div class="container">
    <h1>This is Logout page</h1>
    <h4>Thanks for visiting </h4>
    <a href="/users/login" class="btn btn-primary btn-block">Login</a>
    <a href="/users/register" class="btn btn-primary btn-block">Register</a>
</div>