<div class="container">
  Name: <input type="text" class="form-control">
  Email: <input type="email" class="form-control">
  Password: <input type="text" class="form-control">
  Re-Password: <input type="text" class="form-control">
  <div class="registerBtn" style="width: 25%; height: 10%;">
    <button type="submit">Submit</button>
  </div>
  <p class="lead mt-4">
    Already have an Account? <a href="/users/login">Login</a>
  </p>
  <p>Want to become a Member? <a href="/members"><button type="submit">Click here to become a Member</button></a><p>
</div>